$primary-color: white;
$primary-clear-color: #898C98;
$secondary-color: #131C21;
$secondary-clear-color: #20313A;
$contrast-color: #0579D1;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}