$primary-color: white;
$primary-clear-color: #898C98;
$secondary-color: #131C21;
$secondary-clear-color: #20313A;
$contrast-color: #0579D1;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$shadow-one: 0px 4px 4px rgba(0, 0, 0, 0.25);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body, #app{
    min-height: 100vh;
}
#app, main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 50px);
}

@media screen and (min-width: 750px){
    main{
        height: calc(100vh - 70px);
    }
    header{
        height: 70px;
        h2{
            font-size: 2.2rem;
        }
    }
    .input-field{
        input{
            font-size: 1.9rem;
        }
    }
}

@media screen and (min-width: 900px){
    main{
        flex-direction: row;
    }
    canvas, .input-field{
        height: inherit;
    }
    canvas{
        width: 70%;
    }
    .input-field{
        width: 30%;
        border: 1px solid $primary-clear-color;
    }
}